* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: #333;
    position: absolute;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.inner-body {
    background-color: #333;
    color: white;
}

header {
    position: relative;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: #fff;
}

header h1 {
    padding-top: 100px;
    padding-top: -webkit-calc(50vh - 113px);
    padding-top: expression(50vh - 113px);
    padding-top: -moz-calc(50vh - 113px);
    padding-top: -o-calc(50vh - 113px);
    padding-top: calc(50vh - 113px);
    font-size: 7em;
    font-weight: 100;
}

header h1.animated {
    margin: auto;
    border-radius: 12px;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

header h2 {
    font-size: 2em;
}

header span.animated {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 50px;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

header span::before,
header span::after {
    position: absolute;
    top: -23px;
    content: "";
    height: 30px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
}

header span::before {
    left: -10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header span::after {
    right: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Scroll animations styles */

.scroll-animations {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.scroll-animations div {
    flex-grow: 1;
    padding: 30px;
    text-align: center;
    opacity: 0;
    color: #fefefe;
}

.symbols-div {
    width: 100%;
}

.symbols {
    font-size: 4rem;
    color: #b06ab3;
}

.scroll-animations div h3 {
    font-size: 1.9em;
    font-weight: 400;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: center;
}
.mx-2{
    margin-right:8px;
    margin-left:8px;
}

.languages-div {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fefefe;
}

.scroll-animations+.languages-div {
    height: 76vh;
}

.lang {
    padding: 16px;
    border-radius: 16px;
}

.hover-color {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
}

.lang:hover {
    background: linear-gradient(-45deg, #021f4b, #4c3b71, #1d2936d7, #8a3e8d);
    background-size: 400% 400%;
    animation: opacity 5s, gradient 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


}

.hover-effect {
    color: #b06ab3;
}

.hover-effect:hover {
    -o-animation: color-animation 1s ease-in-out;
    -webkit-animation: color-animation 1s ease-in-out;
    animation: color-animation 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes color-animation {
    0% {
        color:#b06ab3;
    }

    25% {
        color: #7e0d7e;
    }

    50% {
        color: #640f74;
    }

    75% {
        color: #b442b4;
    }

    100% {
        color: #b06ab3;;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    text-align: center;
}

@keyframes opacity {
    0% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.lang-i {
    font-size: 6rem;
}

.loop {
    animation-iteration-count: infinite;
}

.heart-beat {
    animation: heartBeat 1.5s infinite;
}

@keyframes heartBeat {
    from {
        transform: scale(1)
    }

    14% {
        transform: scale(1.06)
    }

    28% {
        transform: scale(1)
    }

    42% {
        transform: scale(1.06)
    }

    70% {
        transform: scale(1)
    }
}

/* Media queries */

@media (max-width: 759px) {
    .symbols {
        font-size: 3rem;
        color: #b06ab3;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .grid-item {
        text-align: center;
    }

    .lang {
        padding-right: 8px;
        padding-left: 8px;
        border-radius: 8px;
    }

    .scroll-animations div {
        padding: 4px;
    }

    .lang-i {
        font-size: 4rem;
    }

    header h1 {
        font-size: 5em;
    }


}

@media (max-width: 475px) {
    .symbols {
        font-size: 2rem;
        color: #b06ab3;
    }

    .lang {
        padding-right: 4px;
        padding-left: 4px;
        border-radius: 4px;
    }

    .scroll-animations div {
        padding: 2px;
    }

    .inner-body {
        background-color: #333;
        color: white;
        height: 150vh;
    }

    .lang-i {
        margin-bottom: 15px;
        font-size: 2rem;
    }

    header h1 {
        font-size: 3.2em;
    }

    header h2,
    .funky-animations h3 {
        font-size: 1.5em;
    }

}